<% include partials/header %>

<div class="container text-center">
	<div class="card art-card">
	  <img src="<%= art.image %>" class="card-img-top" alt="<%= art.description %>">
	  <div class="card-body">
		<h5 class="card-title"><strong><%= art.title %></strong></h5>
		<p class="card-text"><%= art.description %></p>
		<a id="buy-btn" href="<%= art.artUrl %>" target="_blank" class="btn btn-outline-success btn-sm">Buy</a>
		<a id="back-btn" href="/art"><button type="button" class="btn btn-outline-info btn-sm">Gallery</button></a>
	  </div>
	</div>
</div>


<% include partials/footer %>